name: Pull Request

on:
  pull_request:
    branches:
      - master
    paths:
      - 'go.*'                 # go.mod or go.sum changes
      - 'cmd/**'               # command changes
      - 'internal/**'          # internal package changes

jobs:
  lint:
    name: Lint
    uses: ./.github/workflows/lint.yml
  test:
    name: Test
    uses: ./.github/workflows/test.yml
  integration-test:
    name: Integration Test
    uses: ./.github/workflows/integration-test.yml
